html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  font-family: Helvetica;
  font-size: 16px;
  width: 500px;
  margin: auto;
  text-align: center;
  line-height: 1.4em;
}
h1 {
  margin: 20px;
  font-weight: bold;
  font-size: 20px;
}
input {
  border: 2px solid;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}
.ac_results li {
  height: 260px;
  margin: 20px 0;
  text-align: left;
  zoom: 1;
}
.ac_results li:before,
.ac_results li:after {
  content: "";
  display: table;
}
.ac_results li:after {
  clear: both;
}
.ac_results li .img_container {
  float: left;
}
.ac_results li .img_container img {
  max-height: 100%;
  max-width: 100%;
}
.ac_results li .details {
  width: 290px;
  float: left;
  margin-left: 20px;
}
.ac_results li h2 {
  font-weight: bold;
  margin-bottom: 10px;
}
.ac_results li p {
  font-size: 14px;
}
