doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    != nap.css('all')
  body
    #frames
      #home
        h1 Goblin Tutor
        h2 Build & test decks online for 
          a( href='http://www.wizards.com/Magic/Summoner/' ) Magic The Gathering
        img( src='' )
        button Try it out... build a deck
    #scripts
      != nap.js('vendor')
      != nap.js('all')
      != nap.jst('all')